<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing_Box</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
</head>
<body>
    <div class="card">
        <div class="cardIcons">
            <img src="./assets/images/typescriptAzul.png" alt="iconoTs" class="iconoSuperior">
            <img src="./assets/images/javascriptAmarillo.png" alt="iconoJs" class="iconoSuperior">
        </div>
        <p class="textoPpalCard">Implementa Typescript para el desarrollo de tus proyectos, mejora la escalabilidad y detecta errores temprano.</p>
        <div class="hashtags">
            <p class="botHashtag">#TypeScript</p>
            <p class="botHashtag">#JavaScript</p>
            <p class="botHashtag">+4</p>
        </div>
        <p>Oct 30 .  8m read time</p>
        <img src="./assets/images/Typescript.jpg" alt="TypeScript" class="imgPpal">
        <div class="iconosInferiores">
            <div class="flechas">
                <div class="flechas2">
                    <button class="botIcono">
                        <i class="fa-sharp fa-solid fa-arrow-up"></i>
                    </button>
                    <p class="textInf">145</p>
                </div>
                    <button class="flechaAbajo">
                    <i class="fa-solid fa-arrow-down"></i>
                </button>
            </div>
            <div  class="comments">
                <i class="fa-regular fa-comment"></i>
                <p class="textInf">10</p>
            </div>
            <div class="share">
                <i class="fa-regular fa-bookmark"></i>
            </div>
            <div class="copy">
                <i class="fa-solid fa-link"></i>
            </div>
            
        </div>
    </div>
      
</body>
</html>